.powerButDuoColorLight {
  --fa-primary-color: rgb(205, 53, 50);
  --fa-secondary-color: rgb(5, 15, 99);
}
.powerButDuoColorDark {
  --fa-primary-color: rgb(205, 53, 50);
  --fa-secondary-color: rgb(43, 218, 20);
}
