@media only screen and (max-width: 414px) {
    .presSwitcherInput {
        max-width: 150px;
        max-width: 125px;
        min-width: none;Width: 150px;
        min-width: none;Height: 125px;
    }
  }
  @media only screen and (min-width: 414px) {
    .logoSm img {
      height: auto;
      width: 72px;
    }
  }